
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 960px;
    margin: 60px auto;
}

.content{
    padding-right: 30px;
}

.sidebar{
    padding-left: 30px;
}

.sidebar form{
    padding: 20px;
    background: var(--color-btn);
    border-radius: 10px;
}

.sidebar input, .sidebar select {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 8px;
    border: 0;
    border-radius: 4px;
    color: var(--color-secondary);
    font-size: var(--fs-p);
}

.sidebar label{
    margin: 0 auto 20px;
    display: block;
    color: var(--color-primary);
}

.sidebar button{
    background-color: transparent;
    border: 2px solid var(--color-primary);
    padding: 6px 12px;
    border-radius: 4px;
    color: var(--color-primary);
    font-size: var(--fs-p);
    display: block;
    cursor: pointer;
    width: 100%;
}

.sidebar h3{
    color: var(--color-btn);
    margin-bottom: 20px;
}

.sidebar aside{
    background: var(--color-secondary);
    margin-top: 240px;
}

.sidebar aside li{
    margin: 10px;
}

/* TRANSACTIONS */
.transactions li {
    margin: 20px auto;
    border: 1px solid var(--color-primary);
    box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-left: 4px solid var(--color-btn);
}

.transactions .name{
    color: var(--color-lightGray);
    font-size: var(--fs-h4);
    margin: 0;
}

.transactions .amount{
    margin-left: auto;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-lightGray);
    font-weight: bold;
    font-size: var(--fs-h3);
}

.transactions button {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(223, 75, 75);
    border-radius: 4px;
    color: var(--color-primary);
    font-weight: bold;
    border: none;
    padding: 12px 8px;
    text-align: center;
    line-height: 0;
    font-size: var(--fs-p);
    cursor: pointer;
}